* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.logo .icon {
  margin-right: 10px;
}

.logo span span {
  font-weight: normal;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #999;
  font-size: 16px;
  padding-bottom: 5px;
}

nav a.active {
  color: #000;
  border-bottom: 2px solid #000;
}
.banner {
  background-color: #e4bba1;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}
.keterangan-banner {
  /*background-color: red;*/
}
.gambar-banner {
  /*background-color: blue;*/
}
.persen {
  font-weight: 780;
}

.gambar {
  width: 500px;
  height: 500px;
}
.grup-produk {
  display: flex;
  gap: 60px;
}
.gambar-produk {
  width: 100%;
  border-radius: 10px;
}
.top-produk {
  padding-right: 100px;
  padding-left: 100px;
}

.judul-produk {
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card {
  border: width 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
}
.nama-produk {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
}
.harga-produk {
  font-size: 32px;
  font-weight: bold;
}
.price {
  font-weight: bold;
  margin-bottom: 15px;
}

/* Button */
.card button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.card button:hover {
  background-color: #333;
}

/* Responsive */
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
